@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

.closeResultsButton{
  margin-top: 3em;
  align-self: center;
  border: 0;
  text-transform: uppercase;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  cursor: pointer;
}

.closeResultsButton:hover {
  opacity: 0.9;
}

.closeResultsButton:active {
  position: relative;
  top:1px;
  left:1px;
}

.background-results{
  margin: 0;
  padding: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.7);
  ;
  font-family: 'TimesNewRoman', sans-serif;
  z-index: 20;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 50000;
}
.turnResultsBox {
    z-index:  30;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
	  margin: 0 auto;
    border-radius: 25px;
    padding: 10px;

}
.secondBox{
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1%;
  min-width: 45vw;
  min-height: 60vh;
  padding: 20px;
  background-color: rgba(0,0,0,0.6);
  transition: 1s;
  overflow: scroll;  
}
.otherPlayerResultsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;



}

::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-thumb {
  background: rgba(52, 58, 116, 0.637);
  border-radius: 20px;
}

.resultCards{
  height: 32vh;
  border-radius: 10px;
}

.otherPlayerResult{
  display:flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}

.playerName{
  margin-top: 0.5em;
  color: aliceblue;

}

.PlayerScore{
  margin-top: 0.5em;
  color: #1ca254;
  font-weight: 1000;
}

.VotedPlayers{
  margin-top: 0.5em;
  color: #4081a0;
}

.turnPlayerResult {
  display: grid;
  background-color: rgb(255,255,255,1);
  width: 50vw;
  height: 40vh;
  gap: 20px;
  grid-template: 
  ". . . . . . . . . ." 10px
  ". c pr pr pr pr pr s s s" 20px
  ". c . . . . . . . ." 1fr
  ". c . . . v v v . ." 1fr
  ". . . . . v v v . ." 1fr
  / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


.card {
  grid-area: c;
  border-radius: 10px;
}

.turnPrompt {
  grid-area: pr;
  font-size: 30px;
}

.turnPlayersVoters{
  grid-area: v;
}

.turnPlayerScore {
  grid-area: s;
  font-size: 24px;
  align-self: center;
  justify-self: center;
}
.resultsInput{
  width:100vw;
  height:100vh;
  box-sizing:border-box;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results-hide{
  display: none;

}
