@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

.closeResultsButton{
  width: 10vw;
  height: 40px;
  margin-top: 3vh;
  align-self: center;
  border-radius: 4px;
  background-color: rgb(153, 166, 202);
}

.background-results{
  margin: 0;
  padding: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 78, 76, 0.877);
  ;
  font-family: 'TimesNewRoman', sans-serif;
  z-index: 20;
}
.turnResultsBox {
    z-index:  30;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
	  margin: 0 auto;
    border-radius: 25px;
    padding: 10px;

}
.secondBox{
  display: flex;
  flex-flow: column nowrap;
  min-width: 45vw;
  min-height: 60vh;
  padding: 20px;
  background-color: darkslategray;
  border-radius: 20px;
  transition: 1s;
  overflow: scroll;  
}
.otherPlayerResultsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;



}

::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-thumb {
  background: rgba(52, 58, 116, 0.637);
  border-radius: 20px;
}

.resultCards{
  height: 32vh;
  border-radius: 10px;
}

.otherPlayerResult{
  display:flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}

.playerName{
  color: aliceblue;

}

.PlayerScore{
  color: aliceblue;
  font-weight: 1000;
}

.VotedPlayers{
  color: aliceblue;
}

.turnPlayerResult {
  display: grid;
  background-color: rgb(140, 197, 162);
  border-radius: 25px;
  width: 50vw;
  height: 40vh;
  gap: 20px;
  grid-template: 
  ". . . . . . . . . ." 10px
  ". c pr pr pr pr pr s s s" 20px
  ". c . . . . . . . ." 1fr
  ". c . . . v v v . ." 1fr
  ". . . . . v v v . ." 1fr
  / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


.card {
  grid-area: c;
  border-radius: 10px;
}

.turnPrompt {
  grid-area: pr;
  font-size: 30px;
}

.turnPlayersVoters{
  grid-area: v;
}

.turnPlayerScore {
  grid-area: s;
  font-size: 24px;
  align-self: center;
  justify-self: center;
}
.resultsInput{
  width:100vw;
  height:100vh;
  box-sizing:border-box;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results-hide{
  display: none;

}
