@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

.closeResultsButton{
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(153, 166, 202);
}

.background-results{
  margin: 0;
  padding: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(78, 78, 76, 0.9);
  ;
  font-family: 'Montserrat', sans-serif;
  z-index: 20;
}
.turnResultsBox {
    z-index:  30;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
	  margin: 0 auto;
    border-radius: 25px;
    padding: 10px;
}

.otherPlayerResultsContainer {
  display: flex;
  width: 40vw;
  padding: 20px;
  background-color: darkslategray;
  border-radius: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.resultCards{
  height: 32vh;
  border-radius: 10px;
}

.otherPlayerResult{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.playerName{
  color: aliceblue;

}
.PlayerScore{
  color: aliceblue;
}
.VotedPlayers{
  color: aliceblue;
}
.turnPlayerResult {
  display: grid;
  background-color: rgb(140, 197, 162);
  border-radius: 25px;
  width: 40vw;
  height: 40vh;
  gap: 20px;
  grid-template: 
  ". . . pr pr pr pr s s s" 40px
  ". c . . . . . . . ." 20px
  ". c . . . v v . . ." 50px
  ". . . . . v v . . ." 1fr
  / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


.card {
  grid-area: c;
  border-radius: 10px;
}

.turnPrompt {
  grid-area: pr;
  font-size: 30px;
}

.turnPlayersVoters{
  grid-area: v;
}

.turnPlayerScore {
  grid-area: s;
  font-size: 24px;
  align-self: center;
  justify-self: center;
}
.resultsInput{
  width:100vw;
  height:100vh;
  box-sizing:border-box;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results-hide{
  display: none
}
