.gameRoom .sidebar .roomDetails {
    display: flex;
    /* grid-area: roomDetails; */
    color: #fff;
    padding: 6px;
    font-weight: 300;
    background-color: rgba(0,0,0, 0.3);
}

.roomDetails .roomName {
    width: 100%;
}

.roomDetails .roomName span {
    font-weight: bold;
    margin-left: 4px;
    font-size: 1.2em;
}

.roomDetails .roomControls {
    text-align: right;
    font-size: 0.8em;
    vertical-align: top;;
}

.roomDetails .roomControls a {
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0,0,0, 0.3);
    padding: 0.4em;
    display:inline-block;
    position: relative;
    user-select: none;
    text-transform: uppercase;
}

.roomDetails .roomControls a:hover, .roomDetails .roomControls a:active {
    background-color: rgba(0,0,0, 0.6);
}

.roomDetails .roomControls a:focus  {
    border: 1px solid #900;
}

.roomDetails .roomControls a:active  {
    top: 1px;
}