.dealer-table {
    grid-area: d;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(243, 242, 235);

    border: 2px solid rgba(0,0,0,1);
}