.dealer-table {
    grid-area: d;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(243, 242, 235, 0.356);
    border: 2px solid rgba(0,0,0,1);
}

.cardBackAtTable {
    margin: 1vw;
}
.votingCardsAtTable {
    margin-right: 1vw;
}

.votingCardsAtTable:focus{
    border: 2px solid;
    border-color: crimson;
}