.sidebar .chat {
  /* grid-area: chat; */
  display: flex;
  flex: 1;
  flex-direction: column;
  z-index: 1000;
  background-color: rgba(0,0,0,0.3);
  justify-content: flex-end;;
  overflow: hidden;
}

.chat .container {
  /* position: fixed;
  top:45vh;
  right: 0vw; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #234220;
  height: 35vh;
  width: 400px;

  
}
    
  /* @media (min-width: 320px) and (max-width: 480px) {
    .container {
      width: 100%;
      height: 100%;
    }
  }
  
  @media (min-width: 480px) and (max-width: 1200px) {
    .container {
      width: 60%;
    }
  } */