.background-regras-button{
    display: none;
    align-items: center;
    justify-items: center;
    margin:0;
    padding:0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-color:#292929ce;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
    justify-content: center;
    align-content: center;

}
  /* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
  } */

::-webkit-scrollbar {
    width: 8px;
  }
  

  ::-webkit-scrollbar-thumb {
    background: rgba(52, 58, 116, 0.637);
    border-radius: 20px;
  }

.Regras-content {
    overflow-y: scroll;
    display: flex;
    padding: 30px;
    position: fixed;
    width: 40vw;
    height: 50vh;
    flex-flow: column nowrap;
    background-color: burlywood;
    border-radius: 20px;
    transition: 0.5s;

}

.Regras-content h1{
    padding: 10px;
}

.Regras-content h2{
    padding: 10px;
}

.hide {
    display: none;
    transition: 0.5s;

}

.show {
    display: flex;
    transition: 0.5s;

}

.regras-button{
    width: 5vw;
    height: 5vh;
    border-radius: 5px;
    margin-top: 20px;
    align-self: center;
}