.players-nav-bar{
    position: fixed;
    min-height: 500px;
    width: 300px;
    min-height: 500px;
    height: 500px;
    left:0vw;
    top:50vh;
}

.fl-table {
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    color: rgb(99, 94, 94);
    font-weight: 1000;
    background-color: rgb(226, 205, 205);
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 18px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4a52bd;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #b3cfeb;
}

.fl-table tr:nth-child(odd) {
    background: #8cb670;
}