.players-nav-bar{
    grid-area: s;

}

.fl-table {
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    color: rgb(99, 94, 94);
    font-weight: 1000;
    background-color: rgb(196, 218, 211);
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border: 1px solid #f8f8f8;
    font-size: 18px;
}

.fl-table thead th {
    color: #ffffff;
    background: #30805a;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #30805a;
}

.fl-table tr:nth-child(odd) {
    background: #8cb670;
}