
  
  .joinOuterContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.3);
    overflow: auto;
  }
  
  .joinInnerContainer {
    margin: 0 auto;
    padding: 5%;
    width: 40%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100%;
    box-sizing: border-box;
  }

  .joinInnerContainer input {
    font-size: 2em;
    font-family: 'Roboto';
    font-weight: 100;
  }
  
  .joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
  }
  
  .heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }
  
  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #2979FF;
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
      cursor: pointer;
  }

  .header-loading {
    color: #fff;
    font: Roboto;
    font-weight: 200;
    font-size: 2em;
  }

  .button-join:hover, .button-join:active {
    background: #246ce7;

  }

  .button-join:active {
    position: relative;
    top: 1px
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
  
  
  }
  
  button:focus {
    outline: 0;
  }

  .wordartblues {
    font-family: Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;

  }
  
  .wordartblues .text {
      font-family: Impact, sans-serif;
      color: #24c0fd;
      -webkit-text-stroke: 0.01em #0000aa;
      filter: progid:DXImageTransform.Microsoft.Glow(Color=#0000aa,Strength=1);
      text-shadow: 0.13em -0.13em 0px #0000aa;
  }