.chatMessagesScrollToBottom {
  display: flex;
  justify-content: flex-end;
  overflow: auto;
  height: 100%;
}

.chatMessages {
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: 6px;
    justify-content: flex-end;
    height: fit-content;
    min-height: 100%;
  }
