.chatMessagesScrollToBottom {
  overflow: auto;
  height: 100%;
}

.chatMessages {
  height: 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: 6px;
    justify-content: flex-end;
  }
