@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.gameRoom {  
  display: grid;
  height: 100%;
  width: 100%;
  gap: 0;
  grid-template: 
  "header header" 40px
  "gameboard sidebar" 1fr
  / 1.5fr minmax(200px, 0.55fr);
  overflow: hidden;

  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

#carinha-image{
  grid-area: c;
  justify-self: center;
  align-self: center;
  transform: scale(0.5);
}

.inside-room-loading-cointainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.inside-room-loading-cointainer h1 {
  font-size: 50px;
  text-justify: center;
  text-align: center;
  margin-top: 30px;
  font-family: 'Luckiest Guy';
  color: rgb(255, 255, 255);
  text-shadow: -4px 3px 2px rgb(0, 0, 0);
}

#loading-game-image {
  height: 60vmin;
  pointer-events: none;  
  justify-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  #loading-game-image {
    animation: Loading-img-spin infinite 4s linear;
    margin: 50px;
    width: 25%;
    height: 25%;
  }
}

@keyframes Loading-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
