@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.gameRoom {  
  display: grid;
  height: 100vh;
  width: 100vw;
  gap: 20px;
  grid-template: 
  "he he he he he he he he he he" 40px
  ". X p p p p p p m ." 10vh
  ". d d d d d d d d ." 1fr
  ". d d d d d d d d ." 1fr
  ". s s ha ha ha ha c c c" 1fr 
  ". s s ha ha ha ha c c c" 1fr
  ". . . . . . . . . ." 40px
  / 2vw 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2vw;

  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

#carinha-image{
  grid-area: c;
  justify-self: center;
  align-self: center;
  transform: scale(0.5);
}

.inside-room-loading-cointainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.inside-room-loading-cointainer h1 {
  color: rgb(59, 59, 56);
  font-size: 50px;
}

#loading-game-image {
  height: 60vmin;
  pointer-events: none;  
  justify-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  #loading-game-image {
    animation: Loading-img-spin infinite 4s linear;
    margin: 50px;
    width: 25%;
    height: 25%;
  }
}

@keyframes Loading-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* 
.game-room-title{
  font-size: 50px;
  text-justify: center;
  text-align: center;
  margin-top: 30px;
  font-family: 'Luckiest Guy';
  color: rgb(230, 106, 106);
  text-shadow: -4px 3px 2px rgb(0, 0, 0);
} */