.card {
    transition: 1s;
    margin: -25px;
    /* width: 230px;
    height: 300px; */
    height: 32vh;
    /* object-fit: cover; */
}

.selectingCards{
    cursor: grab
}

.onMouseDown{
    cursor: grabbing;
}

.votingCards {
    cursor: pointer;
}
.votingCards:active {
    transform: scale(0.8);
}

.card:hover {
    /* filter:grayscale(50%); */
    transform:scale(1.1)
}