.chat-form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}
  
.chat-form .input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}
  
.chat-form input:focus, textarea:focus, select:focus{
  outline: none;
}
  
.chat-form .sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #276950;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}

.chat-form.hide {
  display: none;
}