#build-deck{
    background-color: rgb(74, 97, 139);
    max-width: 30vw;
    display: flex;
    flex-flow: column nowrap;
    padding: 1vh;
    border-radius: 10px;
    font-size: small;
    border-right-style: solid;
    border-right: 10px
  }
  
  .deck-input{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 4px
  }