@import url('https://fonts.googleapis.com/css?family=Montserrat:ital,wght@0,200;0,300;1,300;0,500');

.gameRoom .roomLobby {
  grid-area: gameboard;
  margin: 6px 0 6px 6px;
  position: relative;
  background-color:rgba(0,0,0, 0.3);
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

#wrapper{
  width:100%;
  height:100%;
  box-sizing:border-box;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
} 

#lobby-settings{
  display: flex;
  flex-flow: row nowrap;
}

#wrapper h1 {
  margin-top: 0.7em;
  margin-bottom: 1.5em;
  font-weight: 500;
  font-size: 2.5vw;
  text-align: center;;
  color:#fff;
  text-decoration: underline;
}

#wrapper h2{
  margin: 10px;
  font-weight: 500;
  font-size: 3vw;
  color:#fff;
}

.total-cartas{
  align-self: center;
  justify-self: center;
  margin: 10px;
  color: red;
}

.total-ready {
  color: greenyellow;
}

.leave-lobby{
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 2000%;
  width: 85px;
  min-height: 60px;
  margin-bottom: 40px;
  color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10vh;
  transition: 0.2s;
}

.leave-lobby:active{
  transform: scale(0.8);
}

.leave-lobby:hover{
  cursor: pointer;
  background-color: rgb(129, 129, 129);
  color: #fff;
  transform: scale(0.9);
}

.leave-lobby a {
  display: flex;
  align-self: center;
  justify-self: center;
}

#victory-conditions, #build-deck {
  background-color: rgba(0,0,0,0.25);
  width: 25vw;
  display: flex;
  flex-flow: column nowrap;
  padding: 1vh;
  margin: 0.2em;
  font-size: small;
  border-right-style: solid;
  border-right: 10px
}

.deck-input, .victory-input{
  /* background-color: rgba(0,0,0,0.3); */
  background-color: #fff;
  color: #000;
  font-weight: 300;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  margin: 2px 0;
  cursor: pointer;
  opacity: 0.7;
  user-select: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
}

.deck-input:hover, .victory-input:hover {
  opacity: 1;
}

.deck-input.deck-selected, .victory-input.victory-selected{
  opacity: 1;
  color: #759081;
}

.deck-input i.fas, .victory-input i.fas {
  visibility: hidden;
  margin-right: 0.5em;

  font-size: 18px;
  font-weight: normal;
}

.deck-input.deck-selected i.fas, .victory-input.victory-selected i.fas {
  visibility: visible;
  color: #759081;
}

.deck-input h3, .victory-input h3 {
  font-size: 1.2em;
  font-weight: 500;
}

/* End screen */

.room-lobby-end-screen {
  background-color: rgba(0,0,0, 0.3);
  text-align: center;;
  padding: 1em;
  box-sizing: border-box;
  margin-bottom: 2em;
  width: 100%;
}

.room-lobby-end-screen .championBox {
  display: grid;
  width: 100%;
  gap: 0;
  justify-items: center;;
  grid-template: 
  "snades parabens jono" auto
  "snades nome jono" auto
  "snades score jono" auto
  / auto auto auto
}

.room-lobby-end-screen .player-score {
  color: #fff;
  font-size: 1.5em;
  line-height: 2em;
}

.room-lobby-end-screen .championBox .parabens {
  font-family: Arial, sans-serif;
  grid-area: parabens;
  font-size: 4em;
  padding-bottom: 0.3em;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.room-lobby-end-screen .championBox .parabens.rainbow {
  transform: scale(1, 1.5);
  -webkit-transform: scale(1, 1.5);
  -moz-transform: scale(1, 1.5);
  -o-transform: scale(1, 1.5);
  -ms-transform: scale(1, 1.5);
  transform-origin: top center;
}

.room-lobby-end-screen .championBox .parabens.rainbow .text {
  background: red; 
  background: -webkit-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
  background: -o-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
  background: -moz-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
  background: linear-gradient(to right, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.room-lobby-end-screen .championBox .nome {
  margin: 0.1em;
  grid-area: nome;
  font-family: Arial, sans-serif;
  font-size: 4em;
  padding-bottom: 1em;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.room-lobby-end-screen .championBox .nome.superhero {
    transform: skew(0, -15deg) scale(1, 1.5);
    -webkit-transform: skew(0, -15deg) scale(1, 1.5);
    -moz-transform: skew(0, -15deg) scale(1, 1.5);
    -o-transform: skew(0, -15deg) scale(1, 1.5);
    -ms-transform: skew(0, -15deg) scale(1, 1.5);
    transform-origin: top center;
}

.room-lobby-end-screen .championBox .nome.superhero .text {
    font-family: Impact;
    background: #fdea00;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fdea00 0%, #fdcf00 44%, #fc2700 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdea00), color-stop(44%, #fdcf00), color-stop(100%, #fc2700));
    background: -webkit-linear-gradient(top, #fdea00 0%, #fdcf00 44%, #fc2700 100%);
    background: -o-linear-gradient(top, #fdea00 0%, #fdcf00 44%, #fc2700 100%);
    background: -ms-linear-gradient(top, #fdea00 0%, #fdcf00 44%, #fc2700 100%);
    background: linear-gradient(to bottom, #fdea00 0%, #fdcf00 44%, #fc2700 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdea00', endColorstr='#fc2700', GradientType=0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.room-lobby-end-screen .championBox .nome.superhero .text:before {
    content: attr(data-text);
    position: absolute;
    z-index: -1;
    text-shadow: 0.01em 0em 0 #802700, 0em 0.01em 0 #c23d00, 0.02em 0.01em 0 #802700, 0.01em 0.02em 0 #c23d00, 0.03em 0.02em 0 #802700, 0.02em 0.03em 0 #c23d00, 0.04em 0.03em 0 #802700, 0.03em 0.04em 0 #c23d00, 0.05em 0.04em 0 #802700, 0.04em 0.05em 0 #c23d00, 0.06em 0.05em 0 #802700, 0.05em 0.06em 0 #c23d00, 0.07em 0.06em 0 #802700, 0.06em 0.07em 0 #c23d00, 0.08em 0.07em 0 #802700, 0.07em 0.08em 0 #c23d00;
}

.room-lobby-end-screen .championBox .score {
  grid-area: score;
  font-family: Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  margin-bottom: 2em;
}
.room-lobby-end-screen .championBox .score.tilt {
    display: inline-block;
    transform-origin: top center;
    transform: scaleY(2) perspective(1em) rotateX(15deg) ;
    -webkit-transform: scaleY(2) perspective(1em) rotateX(15deg) ;
    -moz-transform: scaleY(2) perspective(1em) rotateX(15deg); 
    -o-transform: scaleY(2) perspective(1em) rotateX(15deg) ;
    -ms-transform: scaleY(2) perspective(1em) rotateX(15deg) ;
}

.room-lobby-end-screen .championBox .score.tilt .text {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background: #390c0b;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #390c0b 0%, #f6bf28 73%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #390c0b), color-stop(73%, #f6bf28));
    background: -webkit-linear-gradient(top, #390c0b 0%, #f6bf28 73%);
    background: -o-linear-gradient(top, #390c0b 0%, #f6bf28 73%);
    background: -ms-linear-gradient(top, #390c0b 0%, #f6bf28 73%);
    background: linear-gradient(to bottom, #390c0b 0%, #f6bf28 73%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#390c0b', endColorstr='#f6bf28', GradientType=0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.01em;
    -webkit-text-stroke: 0.01em #A3A3A3;
    filter: progid:DXImageTransform.Microsoft.Glow(Color=#a3a3a3, Strength=1);
}

.room-lobby-end-screen .championBox #snades, .room-lobby-end-screen .championBox #jonas {
  display: flex;
  height: 30vh;
  grid-area: snades
 }


 .room-lobby-end-screen .championBox #jonas {
  grid-area: jono
}

.room-lobby-end-screen .players-scores {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1em dashed rgba(255,255,255, 0.05);
}