.game-room-title {
    grid-area: p;
    font-family: 'roboto', cursive;
    color: rgb(9, 48, 105);
    text-shadow: 4px 3px 2px rgb(201, 193, 193);
    text-justify: center;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    justify-items: center;
    justify-content: center;
    background: #F3F3F3;
    border-radius: 30px;
    padding: 10px;
}
  