.game-room-title {
    grid-area: p;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(241, 82, 82);
    text-shadow: 4px 3px 2px rgb(201, 193, 193);
    text-justify: center;
    text-align: center;
    font-size: 40px;
    justify-items: center;
    justify-content: center;
    background: #F3F3F3;
    border-radius: 20px;
    padding: 10px;
}
  